body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5dfe7	;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background:#FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    color: #9e1d75;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 17px;
    font-weight: bold;
}

input, textarea, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #E8D8E8	;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    font-family: Arial, sans-serif;
}

button {
    margin-top: 20px;
    background-color: #9e1d75;
    color: white;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color:#8b4976 ;
}


.rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }
    
    button {
        font-size: 16px;
    }
}
