body {
    font-family: "Times New Roman", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
    60deg,
    #9e1d75,
    #800020 20%,
    #a52a2a 40%
  );
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background:rgb(255, 253, 253);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Times New Roman", "Helvetica", sans-serif;
    font-size: 20px;

}

.container h1 {
    text-align: center;
    color: #800020;
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 17px;
    font-weight: bold;
    color: #751c59;

}

input:focus{
    outline: 2px solid #9e1d75; 
    border-radius: 4px;         
    box-shadow: 0 0 5px rgba(104, 56, 101, 0.5);    
  
 }

 textarea:focus{
    outline: 2px solid #9e1d75; 
    border-radius: 4px;         
    box-shadow: 0 0 5px rgba(104, 56, 101, 0.5);    
    background-color: rgb(234, 231, 231);     
 }

 select:focus{
    outline: 2px solid #9e1d75; 
    border-radius: 4px;         
    box-shadow: 0 0 5px rgba(104, 56, 101, 0.5); 
    background-color: rgb(234, 231, 231);     
 }

input, textarea, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #bc0045	;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Times New Roman", "Helvetica", sans-serif;

}

textarea {
    font-family: "Times New Roman", "Helvetica", sans-serif;
}

button {
    margin-top: 20px;
    background-color: #bc0045;
    color: white;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color:#800020 ;
}


.rating {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 15px;
    }
    
    button {
        font-size: 16px;
    }
}
